### EDA FOR ML HOMEWORK

In [21]:
# Importing dependencies

import pandas as pd

In [29]:
df = pd.read_csv("fish_holdout_demo.csv")

In [30]:
# Preprocessing

def prep_data(df):

    df = df.assign(hw=df["Height"] * df["Width"])

    X = df[["Height", "Width", "hw"]].values
    y = df["Weight"].values

    return X, y

In [34]:
df.head(5)

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
1   Perch   110.0     20.0     22.0     23.5   5.5225  3.9950
2   Roach   160.0     20.5     22.5     25.3   7.0334  3.8203
3  Parkki    60.0     14.3     15.5     17.4   6.5772  2.3142
4   Bream   700.0     30.4     33.0     38.3  14.8604  5.2854

#### Naive Bayes

In [36]:
from sklearn.linear_model import LinearRegression

df = pd.read_csv("fish_participant.csv")

X, y = prep_data(df)

lr = LinearRegression()
lr.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [37]:
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
1   Perch   110.0     20.0     22.0     23.5   5.5225  3.9950
2   Roach   160.0     20.5     22.5     25.3   7.0334  3.8203
3  Parkki    60.0     14.3     15.5     17.4   6.5772  2.3142
4   Bream   700.0     30.4     33.0     38.3  14.8604  5.2854